@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}

// .App {
//   //   background-image: url('../IMG/UnblurdBackground.jpg');
//   //   background-size: cover;
//   //   background-repeat: no-repeat;
//   //   height: auto;
//   //   width: 100vw;
// }

body {
  background-color: #111;
}
